.about_main_container {
  margin-left: 19%;
  padding: 0% 4%;
}

.title {
  color: whitesmoke;
  margin-bottom: 5%;
  font-size: 40px;
}


/* .details_main_wrap{} */


/* .col {} */


.about_img {
  width: 80%;
  border-radius: 5px;
  border: 3px solid #ccc;
}

.about_sub_title {
  margin-bottom: 2%;
  color: #64ffda;
}

.about_text {
  width: 65%;
  color: #ccc;
  line-height: 2;
}
.skill_main_wrap{
  margin-top: 6%;
}

.skill_ul_wrap{
  display: flex;
  
}
.skill_title{
   color: whitesmoke;
  margin-bottom: 18px;
  font-size: 40px;
}
.skill_li{
  list-style: none;
  margin: 5px;
  color: #64ffda;
  border: 1px solid #64ffda;
  padding: 3px 10px;
  
}
.resume_btn_wrap {
  margin-top: 5%;
}

.resume_btn {
  padding: 8px 8px;
  width: 150px;
  font-size: 18px;
  background-color: #64ffda;
  
  
  cursor: pointer;
  border: 0;
  
  
  
}

.service_main_wrap {
  margin-top: 7%;
  
  
}

.service_main_title {
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 2%;

}

.service_inner_wrap {
  display: flex;
 
 
}

.service_card_1{
  background-color: rgba(148, 150, 144, 0.117);
 padding: 2% 3%;
 margin-right: 1%;
 border-radius: 5px;
  
}

.service_card_2{
   background-color: rgba(148, 150, 144, 0.117);
 padding: 2% 2%;
  border-radius: 5px;

  
  

}

.design_icon{
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
}

.dev_icon{
    color: white;
  font-size: 30px;
  margin-bottom: 20px;

}
.service_title {
 
  color: whitesmoke;
  margin-bottom: 3%;
}

.service_text {
  color: #b9b5b5;
  line-height: 2;
}

/* .service_text{
    width: 50%;
} */

.testimonial_main_wrap{
    margin-top: 3%;
    padding: 6% 1%;
    

}

.testimonial_title{
    color: whitesmoke;
    font-size: 40px
    
    
}

/* .testimonial_wrap{
    background-color: rgba(234, 233, 233, 0.043);
    
} */
.testimonial_text{
    width: 65%;
    margin-top: 2%;
    font-style: italic;
    color: #ccc;
}

/* .testimonial-wrap::after {
    border-color: #191d2b transparent transparent #191d2b;
    border-style: solid;
    border-width: 12px;
    content: "";
    left: 30px;
    position: absolute;
    top: 100%;

} */







@media screen and (max-width: 900px) {
  .about_main_container {
    margin-left: 3%;
    padding: 0px 8px;
  }

  .about_text {
    width: 95%;
  }

  .resume_btn_wrap {
    margin-top: 15%;
  }
  .skill_main_wrap{
  margin-top: 15%;
}
 .skill_ul_wrap{
  display: flex;
  flex-wrap: wrap;
  
}
  .service_main_wrap{
    margin-top: 15%;
     padding: 7% 0%;
     margin-right: 6%;

  }

  .service_inner_wrap {
    flex-direction: column;
  }

  .service_card_1 {
    margin-top: 5%;
    padding: 5% 3%;
  }
  .service_card_2 {
    margin-top: 5%;
    padding: 5% 5%;
  }

  .testimonial_text{
    width: 100%;
  }
}


