
:root{
  --primary: #0b1628;
  --secondary:#081322;
  --link:#64ffda;
  --primary-font:"Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;

}

.main_content {
  background-color: var(--primary);


}

.inner_main_content {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;

  
}

.title_wrap {
  text-align: center;
  margin-bottom: 15px;
  
}
.title {
  color: white;
  font-size: 50px;
}

.name_wrap {
  color: var(--link);
}

.text_wrap {
 
  text-align: center;
  padding: 2% 10%;
   
}

.text {
  font-size: 18px;
  color: whitesmoke;
  line-height: 2;
   
   font-family: var(--primary-font);
 
}

.icon_wrap {

  margin-top: 15px;
  text-align: center;
 
}

.linkedin_icon_wrap {
  border: 3px solid #1a1c29;
  margin: 6px;
  padding: 10px;
  border-radius: 50%;
   width: 46px;
  transition: all 250ms ease-in-out;
  display: inline-block;
  list-style: none;
  
  
}



.linkedin_icon_wrap:hover {
  border-color: var(--link);
}

.linkedin_icon {
  color: whitesmoke;
}

.twitter_icon_wrap {
  border: 3px solid #1a1c29;
  margin: 6px;
  padding: 10px;
   width: 46px;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
  display: inline-block;
  list-style: none;
}


.twitter_icon_wrap:hover {
    border-color: var(--link);
}
.twitter_icon {
  color: whitesmoke;
}

.github_icon_wrap {
  border: 3px solid #1a1c29;
  margin: 6px;
  padding: 10px;
  width: 46px;
  border-radius: 50%;
  transition: all 250ms ease-in-out;
  display: inline-block;
  list-style: none;
}
.github_icon_wrap:hover {
    border-color: var(--link);
}

.github_icon{
  color: whitesmoke;
}

/* Mobile */
@media screen and (max-width: 1189px) {


.inner_main_content {
  display: flex;
  justify-content: center;

  align-items: center;
 margin-left: 0;
  
}
  

  .title {
    color: white;
    font-size: 38px;
    padding: 0px 18px;
  }

  .text {
    line-height: 2.8;
    
   
  }
}
