:root {
  --primary: #0b1628;
  --secondary: #081322;
   --link: #64ffdbdb;
  --primary-font: "Calibre", "Inter", "San Francisco", "SF Pro Text",
    
}

/* .main_content {
  
} */

.inner_main_content {

  
}

.title_wrap {
  text-align: center;
  margin-bottom: 15px;
}
.title {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.name_wrap {
  color: var(--link);
}

.text_wrap {
  text-align: center;

}

.text {
  font-size: 17px;
  color: #cfd0d2;
  line-height: 2;

  font-family: var(--primary-font);
}

.icon_wrap {
  margin-top: 15px;
  text-align: center;
}

.linkedin_icon_wrap {
  /* border: 3px solid #1a1c29; */
  margin: 6px;
  padding: 10px;
  border-radius: 55%;
  width: 46px;
  transition: all 250ms ease-in-out;
  display: inline-block;
  list-style: none;
}

.linkedin_icon {
  color: whitesmoke;
  font-size: 25px;
}

.twitter_icon_wrap {
  /* border: 3px solid #1a1c29; */
  margin: 6px;
  padding: 10px;

  display: inline-block;
  list-style: none;
}

.twitter_icon {
  color: whitesmoke;
  font-size: 25px;
}

.github_icon_wrap {
  /* border: 3px solid #1a1c29; */
  margin: 6px;
  padding: 10px;
  width: 46px;
  border-radius: 55%;
  transition: all 250ms ease-in-out;
  display: inline-block;
  list-style: none;
}

.github_icon {
   color: whitesmoke;
  font-size: 25px;
}

/* Mobile */
@media screen and (max-width: 1189px) {
  .inner_main_content {
  display: flex;
  align-items: center;
  height: 50vh;

  
}


  .title {
    color: white;
    font-size: 30px;
  
    
  }

  .text {
    line-height: 2.8;
  }

  .text_wrap {
     padding: 1% 7%;
  
  }
}
