.portfolio_container {
  margin-left: 20%;
  padding: 5% 2%;
}

.portfolio_title {
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 5%;
}

.portfolio_box_wrap_1 {
  display: flex;
  margin-bottom: 10%;
}

.portfolio_box_wrap_2 {
  display: flex;
  margin-bottom: 10%;
}

.portfolio_box_wrap_3 {
  display: flex;
}

.portfolio_img {
  width: 90%;
  height: 90%;
  margin-bottom: 7px;
  border-radius: 10px;
  box-shadow: rgba(141, 143, 144, 0.4) 0px 0px 0px 2px,
    rgba(61, 62, 63, 0.844) 0px 4px 6px -1px,
    rgba(101, 98, 98, 0.856) 0px 1px 0px inset;
}

/* .portfolio_img_wrap{
    background: hsla(0,0%,100%,.9);
    content: "";
    height: calc(100% - 30px);
    left: 15px;
    position: absolute;
    top: 15px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    transition: all .4s ease-out;
    width: calc(100% - 30px);
} */

.portfolio_link {
  color: #ccc;
  text-decoration: none;
}
.portfolio_link:hover {
  color: #64ffda;
}
.portfolio_desc {
  color: #998e8e;
  margin-top: 7px;
}

@media screen and (max-width: 900px) {
  .portfolio_container {
    margin-left: 4%;
    padding: 10% 2%;
  }
  .portfolio_box_wrap_1 {
    flex-direction: column;
  }
  .portfolio_box_wrap_2 {
    flex-direction: column;
  }
  .portfolio_box_wrap_3 {
    flex-direction: column;
  }

  .inner_portfolio_wrap {
    margin-bottom: 10%;
  }
}
