:root {
  --primary: #0b1628;
  --secondary: #081322;
  --link: #64ffda;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  --primary-font: "Calibre", "Inter", "San Francisco", "SF Pro Text",
    -apple-system, system-ui, sans-serif;
}

.toggle_btn_wrap {
  padding: 20px 17px;
  margin-top: 5px;

}

.toggle_icon {
  color: rgb(186, 186, 186);
  font-size: 30px;
  cursor: pointer;
}

.sidebar_wrap {
  height: 1000px;
  width: 250px;
  background-color: var(--secondary);
  position: fixed;
  border-right: 1px solid rgb(62, 62, 62);
  top: 0;
  transition: 350ms;
}

.sidebar_wrap.active {
  left: -100%;
  transition: 350ms;
}

.ul_wrap {
  text-align: center;
  padding: 8% 3%;
 margin-top: 5%;
}

.li_wrap {
  list-style: none;
  margin: 15% 0%;

 
}

.close_icon_wrap {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;

}

.close_icon {
  color: whitesmoke;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
  color: rgb(186, 186, 186);
  display: none;
}
.img_wrap {
  text-align: center;
  margin-top: 7%;
}

.img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  border: 4px solid rgb(164, 164, 164);;
}

.border_line{
  height: 0;
  border-color: rgb(62, 62, 62);
  margin-top: 15px;
 
  
}

.menu_item {
  text-decoration: none;
  font-size: 18px;
  transition: all 250ms ease-in-out;
  color: whitesmoke;
  padding: 2% 20%;

  font-family: var(--primary-font);
}

.menu_item:hover {
  background-color: var(--link);
  color: #0b1628;
}

@media screen and (max-width: 900px) {

  .sidebar_wrap {
 left: -100%;
}
.sidebar_wrap.active{
  left: 0;

}

.close_icon{
  display: block;
}



}

