
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
   
       --primary: #0b1628;


}

*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  
}


body{
  background-color: var(--primary);


 
 overflow-x: clip !important;
}


@tailwind base;
@tailwind components;
@tailwind utilities;