:root {
  --primary: #0b1628;
  --secondary: #081322;
--link: #64ffdbdb;
}

.toggle_btn_wrap {
  padding: 20px 17px;
 
}

.toggle_icon {
color: whitesmoke; 
 font-size: 25px;
  cursor: pointer;
  
}



/* .main_wra{


} */

.container {
  display: flex;
  justify-content: space-between;
}

.sidebar_wrap {
  height: 1000px;
  width: 250px;
  background-color: var(--secondary);
  position: fixed;
  border: 0;
  border-right: 1px solid   rgba(255, 255, 255, 0.083);;
  top: 0;
  transition: 350ms;
  z-index: 100;
}

.border_up{
 border: 1px solid   rgba(255, 255, 255, 0.083)
}
.sidebar_wrap.active {

  transition: 300ms;
  
}

.img_wrap {
  text-align: center;
  margin-top: 7%;
}

.img {
  width: 50%;
  border-radius: 50%;
  height: 30%;
  border: 5px solid #b6bbc8;
}

.border_line {
  height: 0;
  border: 0;
  border-top: 1px solid  rgba(255, 255, 255, 0.083);;
  border-bottom: 1px solid  rgba(255, 255, 255, 0.083);
  margin-top: 2%;
}

.ul_wrap {
  padding: 10% 0%;
  margin-top: 10%;
  text-align: center;
    
}

.li_wrap {
  list-style: none;
  margin-bottom: 15%;


  
}


.menu_item {
  text-decoration: none;
  font-size: 17px;
  transition: all 100ms ease-out;
 
   padding: 3% 20%;
   color: whitesmoke;

  font-family: var(--primary-font);
}

.menu_item:hover{
 background-color: var(--link);
 color: black;
 
}

/* Close btn */

.close_icon_wrap {
  display: flex;
  margin-top: 2rem;
  justify-content: flex-end;
  
}

.close_icon {

  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;

  display: none;
}
.border_line_bottom {
  height: 0;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.057);
    margin-top: 3rem;

}
.footer_wrap {
  text-align: center;
  
}

.footer_text {
  color: #b6bbc8;
  padding: 10px 0px;
}

/* Mobile */

@media screen and (max-width: 900px) {
  /* .sidebar_wrap {
    left: -100%;
  } */
  /* .sidebar_wrap.active {
    left: 0;
    background-color:#101e37 ;
  } */

  .close_icon {
    display: block;
  }

  .border_line_bottom{
    margin-top: 7rem;
  
  }
}
